<style>
      body {
        color: grey;
      }
      /*this styling lets the images be more circular*/
      .responsive-img{
        border: 10px solid white;
        border-radius: 500px;
        margin: auto;
        display: inherit;
        margin-top: 100px;
      }
      img {
        width: 100%;
        height: auto;
      }
      footer.page-footer {
         margin-top: 0px;
         padding-top: 0px;
        background-color: #ee6e73;
      }
      .parallax img {
        min-height: 20%;
      }
      div.col.s4.card-panel.hoverable.center-align {
        float: right;
      }
      .card-panel {
        margin: 0;
      }
      .container .row {
      margin-left: -5rem;
      margin-right: -40rem;
      }
</style>


<!-- ~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="navbar-fixed" id="profile-nav">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a id="edit-profile" href="/profile">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/map">Map</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
    <li class="divider"></li>
  </ul>
    <nav>
    <div class="nav-wrapper">
        <a href="/map"><img src="/assets/images/Logo-icon-white.png" class="nav-img"><img src="/assets/images/Logo-text-white.png" class="nav-img2"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= user.local.name || user.facebook.name %><i class="material-icons right"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <!-- PARALLAX SECTION -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="parallax-container">
  <div class="parallax">
    <img src="/assets/images/eiffel-tower-paris-in-the-fall-season-panoramic-view-3840x2400-wide-wallpapers.net.jpg">
  </div>
  <img id="profile-image" style="width:300px; height: 300px;" class="responsive-img" >
</div>


<!-- ~~PROFILE SECTION~~ -->
<div class="section white">
  <div class="row container">
    <div class="profile-space">
      <div class="row">
          <h3>Welcome, <%= user.facebook.name || user.local.name%></h3>
        <div class="col s8" id="description">
          <h5>Description</h5>
          <p class = "user-description">
           <%= user.description %>
          </p>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit Profile</a>
  <!-- ~~~~~~~~~~~~~Modal Structure~~~~~~~~~~~~~~~~~~~ -->
  <div class="row container">

          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Edit Your Settings!</h4>
              <!-- <form action="/users/:id" method="patch">-->

                <% if (user.local.name){ %>
                <div class="row">
                  <form class="form-content" action="/users/:id" method="patch">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="localName" type="text" class="input" name="local[name]" value=<%=user.local.name%>>
                        <label for="username">Username</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="localEmail" type="email" class="input" name="local[email]" value=<%=user.local.email%>>
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="localPassword" type="text" class="input" name="local[password]">
                        <label for="password">Password</label>
                      </div>
                <% } else {%>
                      <div class="input-field col s12">
                        <input id="fbName" type="text" class="input" name="facebook[name]" value=<%=user.facebook.name%>>
                        <label for="fbName">Username</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="fbEmail" type="email" class="input" name="facebook[email]" value=<%=user.facebook.nameb%>>
                        <label for="fbEmail">Email</label>
                      </div>
                <% } %>
                      <div class="input-field col s12">
                        <input id="Descr" type="text" class="input" name="description" value= <%=user.description%>>
                        <label for="Descr">Description (Tell us about yourself and the activities you like!)</label>
                      </div>
                    </div>
                  </form>
                </div>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                  <!-- <input id="localName" type="text" name="local[name]" value= <%= user.local.name %> Username
                  <input id="localEmail" type="text" name="local[email]" value= <%= user.local.email %> Email
                  <input id="localPassword" type="text" name="local[password]" value= <%= user.local.password %> Password
                <% } else {%>
                  <input id="fbName" type="text" name="facebook[name]" value= <%= user.facebook.name %> Username
                  <input id="fbEmail" type="text" name="facebook[email]" value= <%= user.facebook.email %> Email
                <% } %>
                <input id="Descr" type="text" name="description" value= <%=user.description%> >Description (Tell us about yourself and the activities you like!)
              </form>
            </div> -->

              <div class="modal-footer">
                <a type="submit" href="/profile" class="modal-action modal-close waves-effect waves-green btn-flat" action="/users/:id" method="PATCH" id="edit-button">Update</a>
              </div>
            </div>
          </div>
        </div>


          <div class="col s4 card-panel hoverable center-align">
            <h5>4 Favs</h5>
            <br><br><br><br><br><br><br>
          </div>
          <br>
          <div class="col s12">
            <h5>Biceps Rating</h5>
            <br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax">
    <img src="/assets/images/-1750769553.jpg">
  </div>
</div>


<div class="section white">
  <div class="row container">
    <!-- <h2 class="grey-text header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p> -->
    <div class="col s12 center-align">
    <h5>Recent SpotBuds</h5>
      <div class="col s3 center-align bud">Bud 1
        <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
      </div>
      <div class="col s3 center-align bud">Bud 2
        <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
      </div>
      <div class="col s3 center-align bud">Bud 3
        <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
      </div>
      <div class="col s3 center-align bud">Bud 4
        <img src="http://cdn.skim.gs/image/upload/v1456341996/msi/woman-working-out_ountp9.jpg" class="responsive-img">
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="/assets/images/Canine Aviator.jpg"></div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~FOOTER~~~~~~~~~~~~~ -->
   <footer class="page-footer">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5 class="white-text">Footer Content</h5>
                   <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5 class="white-text">Links</h5>
                   <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="footer-copyright">
               <div class="container">
               © 2016 Copyright <a href="/map" class="white-text">SpotBuds</a>
               <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
               </div>
             </div>

             <div id="user" data-id=<%= user.id %> >

             </div>
           </footer>

<script type="text/javascript" >
    $(function(){
      var userEmail = "<%= user.facebook.email ||  user.local.email%>"
      //ajax that will allow a get to be carried out once the edit button is clicked
      //profile image using gravatar
      $('#profile-image').attr('src', 'http://gravatar.com/avatar/' + MD5(userEmail) + '?s=600')
    // })

//attempt to send a user to another user's page...need to use the info from the RSVPs to events you created
  // var $budPic = $(".bud")
  // $budPick.on('click', function(evt){
  //
  // })
  // $(function(){
  //
  // })

// $(function(){
      console.log("it's working!")


      // function refreshProfile(user, userId){
      //   console.log("This is the refresh")
      //   $.ajax({
      //     url: '/users/' + userId,
      //     method: 'GET'
      //     // data: user,
      //     // contentType: 'application/json'
      //   }).done(function(data){
      //     // console.log("this is the refresh profile data", data)
      //     $(".user-description").text(data.description)
      //     // document.location.reload()
      //   })
      // }
      function updateUser(){
       var userId = ($('#user').data("id"))
       var user = {local: {
           name: $('#localName').val(),
           email:$('#localEmail').val(),
           password: $('#localPassword').val()
         },
         facebook: {
           name:$('#fbName').val(),
           email: $('#fbEmail').val()
         },
         description: $('#Descr').val() }

       $.ajax({
         url: '/users/' + userId,
         method: "PATCH",
         data: JSON.stringify(user),
         contentType: 'application/json'
       }).done(function(data){
         // manipulate DOM to show new status for todo element.
        //  refreshProfile(user, userId)
         console.log(data)
         $(".user-description").text(data.user.description)

        //  console.log(data)
       })
     }
     var $editButton = $('#edit-button')
     $editButton.on('click', function(evt){
       evt.preventDefault()
       console.log("button clicked")
       updateUser()
       refreshProfile()
     })
     $('#layout-nav').css({'display': 'none'});
   })


</script>
