<style>
body {
  color: grey;
}
a {
  color: #ff6e40;
}
/*this styling lets the images be more circular*/
.responsive-img{
  border: 10px solid white;
  border-radius: 500px;
  margin: auto;
  display: inherit;
  margin-top: 100px;
}
.circle-img {
  width: 70%;
  height: auto;
  border: 2px solid #bdbdbd; /*light grey*/
  border-radius: 300px;
  margin: 10px;
  box-shadow: 1px 2px 5px #bdbdbd;
}
.rating {
  unicode-bidi: bidi-override;
/*direction: rtl;*/
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
span{
  color: #4dd0e1;
}
img {
  width: 100%;
  height: auto;
}
footer.page-footer {
 margin-top: 0px;
 padding-top: 0px;
 background-color: #ee6e73;
}
img.parallax {
  min-height: 20%;
}
div.col.s4.card-panel.hoverable.center-align {
  float: right;
}
.card-panel {
  margin: 0;
}
.container {
  margin-left: -5rem;
  margin-right: -40rem;
}
.container2 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-copyright {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
footer.page-footer {
  background: #ff6e40; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ff6e40, #ffd54f); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(bottom right, #ff6e40, #ffd54f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ff6e40, #ffd54f); /* Standard syntax*/
}
div.col.l6.s12 {
  padding: 10px 10px 10px 80px;
}
div.col.l4.offset-l2 {
  padding: 10px 10px 10px 50px;
}
.row .col {
  padding: 0;
}
</style>


<!-- ~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="navbar-fixed" id="profile-nav">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a id="edit-profile" href="/users">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/map">Map</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
    <li class="divider"></li>
  </ul>
    <nav>
    <div class="nav-wrapper">
        <a href="/map"><img src="/assets/images/Logo-text-white.png" class="nav-img2"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= user.local.name || user.facebook.name %><i class="material-icons right">perm_identity</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <!-- PARALLAX SECTION -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="parallax-container">
  <div class="parallax">
    <img src="/assets/images/eiffel-tower-paris-in-the-fall-season-panoramic-view-3840x2400-wide-wallpapers.net.jpg">
  </div>
  <img id="profile-image" style="width:300px; height: 300px;" class="responsive-img" >
</div>


<!-- ~~PROFILE SECTION~~ -->
<div class="section white">
  <div class="container2">
    <div class="profile-space">
      <a class="waves-effect waves-light btn btn-small modal-trigger" href="#modal1">Edit Profile</a>
      <a id="delete-button" class="waves-effect waves-light btn btn-small">Delete Account</a>
      <!-- <a class="waves-effect waves-light btn" -->
      <a class="waves-effect waves-orange btn-flat" style="float: right; color: #ff6e40" href="https://signup.wordpress.com/signup/?ref=oauth2&oauth2_redirect=8cc7be1bd5398464de0dd62439d0761a%40https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D99a2088d617f242667d57a1fa4b3709cc63fc9b7064361a3a6c1bb06aad84009%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&wpcom_connect=1">Sign Up To Gravatar To Upload a Profile Pic <i class="material-icons">trending_flat</i></a>
      <h3>Welcome, <%= user.facebook.name || user.local.name%></h3>
      <div class="col s8" id="description">
        <h5>Description</h5>
        <p class = "user-description">
          <%= user.description %>
        </p>

  <!-- ~~~~~~~~~~~~~Modal Structure~~~~~~~~~~~~~~~~~~~ -->
  <div class="container">
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Edit Your Settings!</h4>
        <br>
        <% if (user.local.name){ %>
        <div class="text-center col-md-8 col-md-offset-2">
          <form class="form-content" action="/users/:id" method="patch">
            <div class="input-field col s9">
              <input id="localName" type="text" class="input" name="local[name]" value= <%=user.local.name%> >
              <label for="username">Username</label>
            </div>
            <div class="input-field col s9">
              <input id="localEmail" type="email" class="input" name="local[email]" value= <%=user.local.email%> >
              <label for="email">Email</label>
            </div>
            <div class="input-field col s9">
              <input id="localPassword" type="text" class="input" name="local[password]">
              <label for="password">Password</label>
            </div>
      <% } else { %>
            <div class="input-field col s9">
              <input id="fbName" type="text" class="input" name="facebook[name]" value= <%=user.facebook.name%> >
              <label for="fbName">Username</label>
            </div>
            <div class="input-field col s9">
              <input id="fbEmail" type="email" class="input" name="facebook[email]" value= <%=user.facebook.name%> >
              <label for="fbEmail">Email</label>
            </div>
      <% } %>
            <div class="input-field col s9">
              <input id="Descr" type="text" class="input" name="description" value= <%=user.description%> >
              <label for="Descr">Description (Tell us about yourself and the activities you like!)</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a type="submit" href="/profile" class="modal-action modal-close waves-effect waves-orange btn-flat" action="/users/:id" method="PATCH" id="edit-button">Update</a>
        </div>
      </div>
    </div>
  </div>
        <div class="row">
          <div class="col s4 card-panel hoverable center-align">
            <h5>4 Favs</h5>

            <div class="col s3 center-align bud">
              <p>Fav 1</p>
              <img src="/assets/images/yoga-sun.png" class="circle-img" />
            </div>
            <div class="col s3 center-align bud">
              <p>Fav 2</p>
              <img src="/assets/images/yoga-sun.png" class="circle-img" />
            </div><div class="col s3 center-align bud">
              <p>Fav 3</p>
              <img src="/assets/images/yoga-sun.png" class="circle-img" />
            </div><div class="col s3 center-align bud">
              <p>Fav 4</p>
              <img src="/assets/images/yoga-sun.png" class="circle-img" />
            </div>
          </div>
          <br>
          <div class="col s12">
            <h6>Click Star to Rate User</h6>
              <div class="rating">
                <div id="star" class="star"><span ="star">☆</span></div>
                </div>
              </div>
          </div>
        <div class="row">
          <div class="col s12 center-align">
          <h5>Recent SpotBuds</h5>
            <div class="col s3 center-align bud">
              <p>Bud 1</p>
              <img src="/assets/images/running-sun.png" class="circle-img">
            </div>
            <div class="col s3 center-align bud">
              <p>Bud 2</p>
              <img src="/assets/images/Logo-icon-white.png" class="circle-img">
            </div>
            <div class="col s3 center-align bud">
              <p>Bud 3</p>
              <img src="/assets/images/workout-girl.png" class="circle-img">
            </div>
            <div class="col s3 center-align bud">
              <p>Bud 4</p>
              <img src="/assets/images/lego-workout.png" class="circle-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="parallax-container">
      <div class="parallax">
        <img src="/assets/images/-1750769553.jpg">
      </div>
    </div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~FOOTER~~~~~~~~~~~~~ -->
          <div class="container3">
            <footer class="page-footer">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                  </ul>
                </div>
              </div>
            <div class="container3">
              <div class="footer-copyright">
                © 2016 Copyright <a href="/map" class="white-text">SpotBuds</a>
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </div>

             <div id="user" data-id=<%= user.id %> >

             </div>
           </footer>

<script type="text/javascript" >
    $(function(){
      console.log("it's working!")
      var userEmail = "<%= user.facebook.email ||  user.local.email%>"
      //ajax that will allow a get to be carried out once the edit button is clicked
      //profile image using gravatar
      $('#profile-image').attr('src', 'http://gravatar.com/avatar/' + MD5(userEmail) + '?s=600')
    // })

//attempt to send a user to another user's page...need to use the info from the RSVPs to events you created
  // var $budPic = $(".bud")
  // $budPick.on('click', function(evt){
  //
  // })
  // $(function(){
  //
  // })

// $(function(){
      // function refreshProfile(user, userId){
      //   console.log("This is the refresh")
      //   $.ajax({
      //     url: '/users/' + userId,
      //     method: 'GET'
      //     // data: user,
      //     // contentType: 'application/json'
      //   }).done(function(data){
      //     // console.log("this is the refresh profile data", data)
      //     $(".user-description").text(data.description)
      //     // document.location.reload()
      //   })
      // }
      var $deleteButton = $('#delete-button')
      $deleteButton.on('click', function(evt){
        console.log("delete clicked")
        var userId = ($('#user').data("id"))
        $.ajax({
          method: 'delete',
          url: '/users/' + userId,
          success: function(result){
            window.alert('You deleted your accout!')
            window.location.replace('/login')
          }
        })
        evt.preventDefault()
      })

      function updateUser(){
       var userId = ($('#user').data("id"))
       var user = {local: {
           name: $('#localName').val(),
           email:$('#localEmail').val(),
           password: $('#localPassword').val()
         },
         facebook: {
           name:$('#fbName').val(),
           email: $('#fbEmail').val()
         },
         description: $('#Descr').val() }

       $.ajax({
         url: '/users/' + userId,
         method: "PATCH",
         data: JSON.stringify(user),
         contentType: 'application/json'
       }).done(function(data){
         // manipulate DOM to show new status for todo element.
        //  refreshProfile(user, userId)
         console.log(data)
         $(".user-description").text(data.user.description)

        //  console.log(data)
       })
     }
     var $editButton = $('#edit-button')
     $editButton.on('click', function(evt){
       evt.preventDefault()
       console.log("button clicked")
       updateUser()
       refreshProfile()
     })
     //append star rating to user
          var $starDiv = $("#star")
          var $star = $('.star')
          var count = 0
          $star.on('click', function(){
              if (count < 4){
                  $starDiv.append('<span star>☆</span>')
                  count +=1
              }
              else {
                return ("too many")
              }
            })

     $('#layout-nav').css({'display': 'none'});
   })


</script>
